public ResponseEntity<[classNameMaj]> update(@RequestBody [classNameMaj]DTO obj){
    [classNameMaj] nv = new [classNameMaj]();

    [sets_update]

    return ResponseEntity.ok().body(repo.save(nv));
}